* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('../images/blue_background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #111;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.sidebar h1 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.sidebar p {
  font-size: 0.9rem;
  color: #90caf9;
  margin-bottom: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  font-size: 0.85rem;
  width: 100%;
}

.sidebar li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar a {
  color: #90caf9;
  text-decoration: none;
}

.main {
  flex-grow: 1;
  padding: 2rem;
  padding-right: 1rem;
  overflow-y: auto;
  height: 100vh;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.tab {
  padding: 0.4rem 1rem;
  background: #2b2b2b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tab.active {
  background: #2196f3;
  color: #fff;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  background: #1f1f1f;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card h3 {
  margin: 0 0 0.5rem;
  color: #90caf9;
}

.card.simple h3 {
  color: #00e676;
}

.nivel-titulo {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot.green {
  background-color: #00e676;
}

.dot.blue {
  background-color: #00b0ff;
}

.card.check h3::before {
  content: "✅ ";
}



.filtros {
  margin-bottom: 2rem;
}

.filtros button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: #2b2b2b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filtros button.active {
  background-color: #2196f3;
}
